* {
  font-family: "Nunito", sans-serif;
}

.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.social {
  display: flex;
  gap: 0.5rem;
}

.social-text {
  display: flex;
  gap: 2rem;
}
